.logo-navbar {
    width: 100%;
}
.logoSearch{
    padding-right: 10px;
    padding-left: 5px;
}
#logoSearch-btn{
    border: 1px solid black;
}
.header{
    background: url(../../images/Fondo.jpg) no-repeat center;
    background-size: cover;
    min-height: 60vh;
}
.nav-link{
    color: #000;
}
.underline-active-bar{
    width: 100%; 
    height: 1; 
    border: 1.5px solid #000;
    background: #000;
    border-radius: 20px;
}
.underline-inactive-bar{
    display: none;
}
.nav-link:hover{
    color: #A6C4FE !important;
}
.navbarSupportedContent{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
}
.fixed-top{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 75px; 
}
.search-nav-fixed{
    display: none !important;
}
.login{
    cursor: pointer;
}
.text-input, .button-input{
    margin: 0;
    padding: 0;
}
.text-input>input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-input>button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}