.fixed-top{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 75px;
}
.logo-navbar {
    width: 100%;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.gray-border {
    border: 1px solid #9f9f9f;
}
.logoSearch{
    padding-right: 10px;
    padding-left: 5px;
}
#logoSearch-btn{
    border: 1px solid black;
}
.nav-link{
    color: #000;
}
.nav-underline{
    margin-top: 75px;
}
.underline-active-bar{
    width: 100%; 
    height: 1; 
    border: 1.5px solid #000;
    background: #000;
    border-radius: 20px;
}
.underline-inactive-bar{
    display: none;
}
.nav-link:hover{
    color: #A6C4FE !important;
}


.text-input, .button-input{
    margin: 0;
    padding: 0;
}
.text-input>input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.button-input>button{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}