{% extends "layouts/base.html"%}

{% block title %}Restablecer contraseña{% endblock %}
{% block css %}
<link rel="stylesheet" href="../../static/css/ResetPassword/resetView.css">
<link rel="stylesheet" href="../../static/css/ResetPassword/footer.css">
{% endblock %}
{% block body %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #9f9f9f !important;">
        <div class="col-md-1">
            <a class="navbar-brand" href="{{url_for('index')}}"><img class="logo-navbar"
                    src="../../static/images/Logo.png" alt="logo"></a>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-3"></div>
    </nav>
</header>

<div class="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-form">
                <div class="titleRestart">
                    <h1>Restablece tu contraseña</h1>
                    <h2 class="subtitulo">Ingresa tu nueva contraseña</h2>
                </div>
                {%from "layouts/_macro.html" import render_field%}
                <form method="POST" action="" id="form" onsubmit="changes()">
                    {{render_field(form.password, class_="form-control", placeholder="Contraseña", id="password")}}
                    <div class="alert alert-danger" id="passworderror" hidden></div>
                    {{render_field(form.confirm, class_="form-control", placeholder="Confirma contraseña", id="confirm")}}
                    <div class="alert alert-danger" id="confirmerror" hidden></div>
                    <br>
                    <div class="restart-content">
                        <input type="submit" class="btn btn-lg restart-btn" value="Restablecer" id="submitBtn">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<div class="footer">
    <div class="text-center footer-in py-3">
        <div class="text-center">Términos y condiciones <span class="mx-4"></span>Políticas de privacidad</span>
        </div>
    </div>
    <div class="text-center footer-down py-2">
        <div class="text-center">© 2020 PHOTOS . Todos los derechos reservados . Diseñado por Grupo E</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src='../../static/js/resetPassword.js'></script>
{% endblock %}