{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msgRegister %}
  <div class="alert alert-success">{{msgRegister}}<a href="{{url_for('login')}}" class="alert-link"> continuar</a></div>
{% endif %}

{% if success %}
  <div class="alert alert-success">{{success}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-dark">{{msg}}</div>
{% endif %}